:root{
  --ms_bg_blue:#2C3E50;
  --ms_bg_green:#1ABC9C;
  --ms_bg_blue2:#3A546D;
}

/* UTILITY */
.ms_bg-blue{
  background-color: var(--ms_bg_blue);
}
.ms_bg-green{
  background-color: var(--ms_bg_green);
}
.ms_bg-blue2{
  background-color: var(--ms_bg_blue2);
}

/* COMPONENTS */
.ms_star{
  color: #2C3E50;
}
.ms_star::before{
  content: "";
  display: inline-block;
  width: 100px;
  border: 1px solid currentColor;
  vertical-align: middle;
  margin-right: 20px;
  border-radius: 5px;
}
.ms_star::after{
  content: "";
  display: inline-block;
  width: 100px;
  border: 1px solid currentColor;
  vertical-align: middle;
  margin-left: 20px; 
  border-radius: 5px;
}
/*************************************************
    GENERAL STYLES
 *************************************************/
body{
  font-family:Arial, Helvetica, sans-serif;
}

/* HEADER */

/* MAIN */

/* FOOTER */


