:root {
  --ms_bg_blue: #2c3e50;
  --ms_bg_green: #1abc9c;
  --ms_bg_blue2: #3a546d;
}

/* UTILITY */
.ms_bg-blue {
  background-color: var(--ms_bg_blue);
}
.ms_bg-green {
  background-color: var(--ms_bg_green);
}
.ms_bg-blue2 {
  background-color: var(--ms_bg_blue2);
}

/* COMPONENTS */
.ms_star {
  color: #2c3e50;
}
.ms_star::before {
  content: "";
  display: inline-block;
  width: 100px;
  border: 1px solid currentColor;
  vertical-align: middle;
  margin-right: 20px;
  border-radius: 5px;
}
.ms_star::after {
  content: "";
  display: inline-block;
  width: 100px;
  border: 1px solid currentColor;
  vertical-align: middle;
  margin-left: 20px;
  border-radius: 5px;
}
/*************************************************
    GENERAL STYLES
 *************************************************/
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

/* MAIN */

/* FOOTER */

footer .ms_utility-info li {
  aspect-ratio: 1/1;
  font-size: 1.5em;
  width: 50px;
  position: relative;
}
footer .ms_utility-info li i{
  position: relative;
  top: 50%;
  /* non ho capito perchè ma va bene cosi ---------------------------------------------*/
  transform: translateY(-75%);
}
