:root{
  --ms_bg_blue:#2C3E50;
  --ms_bg_green:#1ABC9C;
  --ms_bg_blue2:#3A546D;
}
/*************************************************
    GENERAL STYLES
 *************************************************/
body{
  font-family:Arial, Helvetica, sans-serif;
}

/* HEADER */
header{
  background-color: var(--ms_bg_blue);
}



/* MAIN */
.ms_star::before{
  content: "";
  display: inline-block;
  width: 100px;
  border: 1px solid currentColor;
  vertical-align: middle;
  margin-right: 20px;
  border-radius: 5px;
}
.ms_star::after{
  content: "";
  display: inline-block;
  width: 100px;
  border: 1px solid currentColor;
  vertical-align: middle;
  margin-left: 20px; 
  border-radius: 5px;
}
.ms_hero{
  background-color: var(--ms_bg_green);
}

.ms_about{
  background-color: var(--ms_bg_green);
}

/* FOOTER */
.ms_utility-info{
  background-color: var(--ms_bg_blue2);
}

.ms_copyright{
  background-color: var(--ms_bg_blue);
}

 /*************************************************
    DEBUG
 *************************************************/
 .debug :is(header, main, footer){
  border: 2px solid rgb(0, 250, 0);
}

.debug [class^="container"]{
  border: 1px dashed rgba(250, 0, 0, 0.3);
}

.debug .row {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.debug [class^="col"] {
  background-color: #daa52062;
}

